<!-- Layout base compartido por todas las vistas -->
<nav class="navbar navbar-expand-lg background-color1"> 
  <a class="navbar-brand" href="/legalMovementsList">
      <img src="https://cdn0.iconfinder.com/data/icons/octicons/1024/law-512.png" width="70" height="53" alt="">
  </a>
  <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
          <li class="nav-item">
              <a class="nav-link menu-option" href="/legalMovementsList">Inicio</a>
          </li>
      </ul>
  </div>
</nav>
<div id="main-container">
    <app-legal-movements></app-legal-movements>
</div>
<router-outlet></router-outlet>
